/* tag selecter */
body{
    background-color: #BAEEFF;
}

/* กำหนดจุดไข่ปลา */
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #382793;
    border-width: 5px;
    width: 80%;
}

h1{
    color: #1E0896;
}

h3{
    color: #1E0896;
}